    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="intro-text">PROF. LINDA ZHAO PRESENTS</p>
                        <h1 class="brand-heading-top">{{ site.title }}</h1>
                        <p class="intro-text">Training Camp — Beijing<br>February 2020</p>

                        <div class="oc">
                            <h5 class="brand-heading-top2">Taching team</h5>
                                <p class="intro-text-2">
                                Professor Linda Zhao<br>
                                Teaching Assistant: Jeffrey Junhui Cai, Alex Zhao
                                </p>
                            <h5 class="brand-heading-top2">Program leader</h5>
                                <p class="intro-text-2">Xuan Ma</p>
                             
                            <a href="#about" class="btn btn-about page-scroll">
                                    <!-- <i class="fa fa-angle-double-down animated"></i> -->
                                    More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
